# dependencies
/node_modules

# next.js
/.next/
/out/

# local env files
.env*.local
.env

# Google Cloud credentials
google-credentials.json

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts
